@font-face {
  font-family: 'Calibre';
  src: local('Calibre Black'), local('Calibre-Black'), url('../fonts/Calibre-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: local('Calibre Bold'), local('Calibre-Bold'), url('../fonts/Calibre-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: local('Calibre Semibold'), local('Calibre-Semibold'), url('../fonts/Calibre-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: local('Calibre'), local('Calibre-Regular'), url('../fonts/Calibre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Calibre', sans-serif;
  font-weight: normal;
}

/* page & nav must to be same colour to avoid flashing seam/line when animating */
.page {
  background: #03010e;
}

.overlay {
  background: #03010e;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  top: 0vh;
}
