.banner {
  background: #fff;
}

.slogan-container {
  overflow: hidden;
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 11vw;
}

.slogan h1 {
  color: #dcdcdc;
  font-size: 11.6vw;
  font-weight: 600;
  line-height: 11vw;
}

.slogan h2 {
  color: #03010e;
  font-size: 2vw;
  line-height: 2.2vw;
  text-align: justify;
  margin: 5vw 0.6vw 0 0.6vw;
}

.slogan .slogan4 {
  color: #888888;
}

@media screen and (max-width: 1024px) {
  .slogan h2 {
    font-size: 3vw;
    line-height: 3.5vw;
  }
}

@media screen and (max-width: 768px) {
  .slogan {
    margin: 15vw 11vw;
  }

  .slogan h2 {
    font-size: 4.5vw;
    line-height: 5vw;
  }
}
