.banner {
  background: #fff;
}

.slogan {
  color: #03010e;
  max-width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12vw 12vw 12vw;
}

.slogan h1 {
  font-size: 4vw;
  font-weight: 600;
  margin-bottom: 1.5vw;
  line-height: 4vw;
}

.slogan h3 {
  font-size: 2vw;
  line-height: 2.2vw;
}

@media screen and (max-width: 1024px) {
  .slogan {
    max-width: 100%;
    margin: 15vw 10vw;
  }
  .slogan h1 {
    font-size: 5vw;
    line-height: 5vw;
    margin-bottom: 3vw;
  }

  .slogan h3 {
    font-size: 3vw;
    line-height: 3.5vw;
  }
}

@media screen and (max-width: 768px) {
  .slogan h1 {
    font-size: 7vw;
    line-height: 7vw;
  }

  .slogan h3 {
    font-size: 4.5vw;
    line-height: 5vw;
  }
}
