.banner2 {
  background: #fff;
}

.banner2-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #03010e;
  padding: 11vw;
}

.banner2-topleft {
  width: 60%;
  color: #dcdcdc;
  padding: 0 2vw;
}

.banner2-slogan-container {
  overflow: hidden;
}

.banner2-topleft h1 {
  font-weight: 600;
  font-size: 5vw;
  line-height: 5vw;
  transform: translateY(20vh);
  opacity: 0;
}

.slogan-bold {
  color: #888888;
}

.banner2-topright {
  width: 40%;
  font-size: 2vw;
  line-height: 2.2vw;
  padding: 0 4vw;
  text-align: justify;
}

.banner2-btm {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8vw;
}

.banner2-btm h1 {
  color: #03010e;
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 3vw;
}

.banner-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform: translateY(15vh);
}

.banner2-btm img {
  filter: grayscale(0.5);
  max-width: 15vw;
  margin: 3vw;
  opacity: 0;
}

@media screen and (min-width: 1920px) {
  .banner2-btm h1 {
    font-size: 6vw;
  }
}

@media screen and (max-width: 1024px) {
  .banner2-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #03010e;
    padding: 11vw;
  }

  .banner2-topleft {
    width: 100%;
    padding: 0;
  }

  .banner2-topleft h1 {
    font-size: 8vw;
    line-height: 8vw;
  }

  .banner2-topright {
    font-size: 3vw;
    line-height: 3.5vw;
    width: 100%;
    padding: 5vw 0 0 10vw;
  }

  .banner2-btm {
    padding: 10vw 5vw;
  }

  .banner2-btm h1 {
    margin-bottom: 5vw;
  }

  .banner2-btm img {
    max-width: 20vw;
    margin: 3vw;
  }
}

@media screen and (max-width: 768px) {
  .banner2-top {
    padding: 15vw 11vw;
  }

  .banner2-topright {
    font-size: 4.5vw;
    line-height: 5vw;
    padding: 5vw 0 0 0;
  }

  .banner2-btm h1 {
    font-size: 11vw;
  }

  .banner2-btm img {
    max-width: 21.5vw;
    margin: 3vw;
  }
}
