.cards {
  padding: 120px 0;
  background-color: #fafafa;
}

.cards-item-container {
  background-color: #fff;
  position: relative;
  margin: auto;
  max-width: 1200px;
  height: 480px;
  display: flex;
  box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;
}

.cards-inner {
  margin: auto;
  max-width: 1400px;
  position: relative;
}

.img-container {
  width: 100%;
  height: 415px;
  transform: translate(40px, -40px);
  box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
  position: relative;
  overflow: hidden;
  visibility: hidden;
}

.img-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 1;
}

.cards-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
}

.cards-item-link {
  text-decoration: none;
  width: 75%;
}

.cards-item-title {
  color: #03010e;
  font-size: 4.9rem;
  font-weight: bold;
  transform: translateY(15px);
}

.cards-item-info {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 60px;
  overflow: hidden;
}

.cards-item-text {
  max-width: 100%;
  font-size: 1.5rem;
  padding: 2rem 1rem;
  margin-right: 20px;
}

.cards-item-git-link {
  max-width: 100%;
  text-decoration: none;
  padding: 0.5rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.5s ease;
}

.cards-item-git {
  color: #03010e;
  font-size: 1.5rem;
  font-weight: 600;
  transform: translateY(3px);
}

.cards-item-bottom {
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cards-item-arrow-right {
  margin-right: 1rem;
  width: 5.5rem;
  height: 4.5rem;
  transition: all 0.5s ease;
}

.cards-item-link:hover .cards-item-arrow-right {
  width: 7.5rem;
}

.cards-item-arrow-left {
  width: 1.6rem;
  height: 1.4rem;
  margin-left: 0.5rem;
  transition: all 0.5s ease;
}

.cards-item-git-link:hover .cards-item-arrow-left {
  width: 2rem;
}

@media screen and (min-width: 1920px) {
  .cards {
    padding: 12.5vw 0;
  }
  .cards-item-container {
    max-width: 75vw;
    height: 30vw;
  }

  .cards-inner {
    max-width: 87.5vw;
  }

  .img-container {
    height: 26vw;
    transform: translate(2.5vw, -2.5vw);
  }

  .cards-item-title {
    font-size: 4vw;
  }

  .cards-item-arrow-right {
    width: 5.5vw;
    height: 4.5vw;
  }

  .cards-item-link:hover .cards-item-arrow-right {
    width: 7.5vw;
  }

  .cards-item-info {
    margin-left: 4vw;
  }

  .cards-item-text {
    font-size: 1.2vw;
    padding: 2vw 2vw;
    margin-right: 1.25vw;
  }

  .cards-item-git-link {
    padding: 0.5vw 0;
  }

  .cards-item-git {
    font-size: 1.5vw;
    transform: translateY(0.2vw);
  }

  .cards-item-arrow-left {
    width: 1.6vw;
    height: 1.4vw;
    margin-left: 0.5vw;
  }

  .cards-item-git-link:hover .cards-item-arrow-left {
    width: 2vw;
  }
}

@media screen and (max-width: 1024px) {
  .cards-item-title {
    font-size: 3.4rem;
    transform: translateY(9px);
  }
}

@media screen and (max-width: 768px) {
  .cards {
    padding: 80px 0;
  }
  .cards-item-container {
    height: 570px;
    flex-direction: column;
  }

  .cards-item-link {
    width: 100%;
  }

  .cards-item-link {
    display: flex;
    justify-content: center;
  }

  .img-container {
    transform: translate(0, -40px);
    width: 90%;
  }

  .cards-item-info {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
  }

  .cards-item-text {
    max-width: 70%;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 0;
  }

  .cards-item-git-link {
    max-width: 25%;
    padding: 0;
  }

  .cards-item-bottom {
    left: 0;
    bottom: 5px;
  }

  .cards-item-title {
    font-size: 3rem;
    line-height: 2rem;
    transform: translateY(7px);
  }
}
