.contact-container {
  background-color: #fff;
  display: flex;
  width: 100%;
  height: 100dvh;
  min-height: 650px;
}

.contact-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  background: rgb(5, 5, 5);
  color: #fff;
  mix-blend-mode: difference;
  z-index: 2;
}

.contact-title-inner {
  align-items: center;
  height: 18vw;
  overflow: hidden;
  margin-left: 6vw;
  visibility: hidden;
  height: fit-content;
}

.contact-title {
  font-size: 6vw;
  font-weight: 900;
  line-height: 4.5vw;
}

.contact-title:first-child {
  font-size: 6.6vw;
  line-height: 6.3vw;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 4vw;
  background: #fff;
}

.form {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recaptcha-terms {
  margin-bottom: 2vw;
  font-size: 1.2vw;
}

.recaptcha-terms a {
  color: #1c1c1c;
}

.form-top {
  display: flex;
  gap: 3vw;
}

.form-top-left {
  display: flex;
  flex-direction: column;
  width: 25vw;
  gap: 3vw;
}

.input-field-wrapper {
  position: relative;
}

.input-field {
  width: 100%;
  height: 2.7vw;
  outline: none;
  border: none;
  border-bottom: 1px solid #dcdcdc;
  font-size: 1.8vw;
}

.input-field:disabled {
  background-color: #fff;
}

.form-top-right {
  position: relative;
  width: 25vw;
  display: flex;
  flex-direction: column;
}

.textarea {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #dcdcdc;
  font-size: 1.8vw;
  padding-top: 0.1vw;
}

.textarea:disabled {
  background-color: #fff;
}

.form-button {
  position: relative;
  display: block;
  width: 25vw;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 3.5vw;
  background: #fff;
  font-size: 1.8vw;
  font-weight: 600;
  text-align: left;
}

.form-button:disabled {
  color: #1c1c1c;
}

.form-loader-wrapper {
  position: absolute;
  bottom: -1.5vw;
  left: 0;
  width: 100%;
}

.form-loader {
  width: 0;
  height: 0.4vw;
  display: inline-block;
  position: relative;
  background: #1c1c1c;
  animation: animFw 8s linear infinite;
}

.form-loader::after,
.form-loader::before {
  content: '';
  width: 1vw;
  height: 0.1vw;
  background: #1c1c1c;
  position: absolute;
  top: 0.8vw;
  right: -0.3vw;
  opacity: 0;
  transform: rotate(-45deg) translateX(0px);
  box-sizing: border-box;
  animation: coli1 0.3s linear infinite;
}

.form-loader::before {
  top: -0.5vw;
  transform: rotate(45deg);
  animation: coli2 0.3s linear infinite;
}

@keyframes animFw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes coli1 {
  0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0.7;
  }
  100% {
    transform: rotate(-45deg) translateX(-4vw);
    opacity: 0;
  }
}

@keyframes coli2 {
  0% {
    transform: rotate(45deg) translateX(0px);
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translateX(-4vw);
    opacity: 0.7;
  }
}

.form-error {
  position: absolute;
  bottom: -2.2vw;
  color: #ff0000;
  font-size: 1.3vw;
}

.status-msg {
  font-weight: 600;
  font-size: 1.8vw;
  margin-top: 3vw;
}

.failure {
  color: #ff0000;
}

@media screen and (max-width: 1023px) {
  .contact-container {
    flex-direction: column;
    height: auto;
  }

  .contact-title-container {
    width: 100%;
    height: 60vw;
    padding: 15vw 0 5vw 0;
  }

  .contact-title-inner {
    margin: 5vw 0 0 0;
    height: 30vw;
  }

  .form-container {
    width: 100%;
    margin-left: 0;
  }

  .recaptcha-terms {
    margin: 10vw 10vw 5vw;
    font-size: 2.16vw;
  }

  .contact-title {
    font-size: 15vw;
    line-height: 10vw;
  }

  .contact-title:first-child {
    font-size: 16.46vw;
    line-height: 15.5vw;
  }

  .form-top {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2vw;
  }

  .form-top-left {
    width: 80%;
    margin: 0;
  }
  .input-field {
    height: 8vw;
    margin-top: 4vw;
    font-size: 4vw;
  }

  .form-top-right {
    width: 80%;
    height: 30vw;
    margin: 0;
  }

  .textarea {
    font-size: 4vw;
    margin-top: 4vw;
  }

  .form-error {
    bottom: -4.5vw;
    font-size: 2.7vw;
  }

  .form-button {
    width: 80%;
    margin: 10vw auto 4vw auto;
    font-size: 4vw;
  }

  .form-loader {
    height: 0.6vw;
  }

  .form-loader::after,
  .form-loader::before {
    width: 1vw;
    height: 0.2vw;
    top: 0.8vw;
    right: -0.3vw;
  }

  .form-loader::before {
    top: -0.5vw;
  }

  @keyframes coli1 {
    0% {
      transform: rotate(-45deg) translateX(0px);
      opacity: 0.7;
    }
    100% {
      transform: rotate(-45deg) translateX(-6vw);
      opacity: 0;
    }
  }

  @keyframes coli2 {
    0% {
      transform: rotate(45deg) translateX(0px);
      opacity: 1;
    }
    100% {
      transform: rotate(45deg) translateX(-6vw);
      opacity: 0.7;
    }
  }

  .status-msg {
    font-size: 4vw;
    width: 80%;
    margin: 3vw auto;
  }
}

@media screen and (max-width: 600px) {
  .contact-title-container {
    padding: calc(10vw + 100px) 0 calc(3vw + 50px) 0;
  }
}
