.header {
  background: transparent;
  width: 100%;
  position: fixed;
  z-index: 5;
  mix-blend-mode: difference;
}

.header-container {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}

.logo {
  width: 100px;
  transform: translateY(5px);
}

.logo img {
  max-width: 100%;
  height: auto;
}

.nav-toggle {
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
}

.nav-close {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
}

@media screen and (min-width: 1920px) {
  .header-container {
    margin: 0 9vw;
  }

  .logo {
    width: 6vw;
    transform: translateY(0.4vw);
  }

  .nav-toggle {
    font-size: 2vw;
  }

  .nav-close {
    font-size: 2vw;
  }
}

@media screen and (max-width: 1024px) {
  .header-container {
    margin: 0 25px;
  }
}
