.projects {
  background-color: #fff;
}

.project-title-container {
  width: 100%;
  height: 15vw;
  background-color: #fafafa;
  color: #03010e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-title-container h2 {
  font-weight: bold;
  font-size: 6rem;
  transform: translateY(4vw);
}

@media screen and (min-width: 1920px) {
  .project-title-container h2 {
    font-size: 6vw;
  }
}

@media screen and (max-width: 1024px) {
  .project-title-container {
    height: 20vw;
  }
}

@media screen and (max-width: 768px) {
  .project-title-container {
    height: 28vw;
  }

  .project-title-container h2 {
    font-size: 11vw;
  }
}
