.card {
  padding: 120px 0;
  background-color: #fafafa;
}

.card-item-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  margin: auto;
  max-width: 1200px;
  box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;
}

.img-container {
  width: 67%;
  height: 480px;
  transform: translate(40px, -40px);
  box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
  position: relative;
  overflow: hidden;
}

.img-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 1;
}

.card-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
}

.card-item-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  margin-left: 40px;
}

.card-item-text {
  font-size: 1.3rem;
  padding: 3rem 3.5rem;
}

.card-item-git-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 1rem;
  align-self: flex-end;
  transition: all 0.5s ease;
}

.card-item-git {
  color: #03010e;
  font-size: 1.5rem;
  font-weight: 600;
  height: 1.4rem;
}

.card-item-link-container {
  transform: translateY(-20px);
  overflow: hidden;
}

.card-item-link {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

.card-item-title {
  color: #03010e;
  font-size: 4rem;
  font-weight: bold;
  height: 3.5rem;
}

.card-item-arrow-right {
  margin-right: 1rem;
  width: 4rem;
  height: 3rem;
  transition: all 0.5s ease;
}

.card-item-link:hover .card-item-arrow-right {
  width: 5rem;
}

.card-item-arrow-left {
  width: 1.6rem;
  height: 1.4rem;
  margin-left: 0.5rem;
  transition: all 0.5s ease;
}

.card-item-git-link:hover .card-item-arrow-left {
  width: 2rem;
}

@media screen and (min-width: 1920px) {
  .card {
    padding: 12.5vw 0;
  }

  .card-item-container {
    max-width: 75vw;
  }

  .img-container {
    height: 30vw;
    transform: translate(2.5vw, -2.5vw);
  }

  .card-item-img {
    height: 30vw;
  }

  .card-item-title {
    font-size: 4vw;
    height: 3.5vw;
  }

  .card-item-arrow-right {
    width: 4vw;
    height: 3vw;
  }

  .card-item-link:hover .card-item-arrow-right {
    width: 5vw;
  }

  .card-item-info {
    margin-left: 2.5vw;
  }

  .card-item-text {
    font-size: 1.2vw;
    padding: 3vw;
  }

  .card-item-git-link {
    margin-top: 1vw;
  }

  .card-item-git {
    font-size: 1.5vw;
    height: 1.4vw;
  }

  .card-item-arrow-left {
    width: 1.6vw;
    height: 1.4vw;
    margin-left: 0.5vw;
  }

  .card-item-git-link:hover .card-item-arrow-left {
    width: 2vw;
  }
}

@media screen and (max-width: 1200px) {
  .card-item-container {
    max-width: 880px;
  }

  .img-container {
    width: 800px;
  }

  .card-item-info {
    flex: none;
    width: 880px;
    flex-direction: column-reverse;
    margin: 0;
  }

  .card-item-text {
    padding: 10px 40px;
  }

  .card-item-git-link {
    margin-top: 0.5rem;
  }

  .card-item-link {
    margin: 10px 0 30px 0;
  }

  .card-item-title {
    font-size: 3rem;
    height: 2.5rem;
  }

  .card-item-arrow-right {
    margin-right: 1rem;
    width: 3rem;
    height: 2.5rem;
  }

  .card-item-link:hover .card-item-arrow-right {
    width: 3.7rem;
  }
}

@media screen and (max-width: 880px) {
  .card {
    padding: 10vw 0;
  }

  .card-item-container {
    max-width: 90vw;
  }

  .img-container {
    width: 82vw;
    height: 50vw;
    transform: translate(4vw, -4vw);
  }

  .card-item-img {
    height: 50vw;
  }

  .card-item-info {
    width: 90vw;
  }

  .card-item-text {
    font-size: 3vw;
    padding: 10px 4vw;
  }

  .card-item-git-link {
    margin-top: 0.5rem;
  }

  .card-item-git {
    font-size: 3vw;
    height: 2.8vw;
  }

  .card-item-link {
    margin: 1vw 0 3vw 0;
  }

  .card-item-title {
    font-size: 5vw;
    height: 4.5vw;
  }

  .card-item-arrow-right {
    margin-right: 1rem;
    width: 5vw;
    height: 4vw;
  }

  .card-item-link:hover .card-item-arrow-right {
    width: 6.2vw;
  }

  .card-item-arrow-left {
    width: 2.5vw;
    height: 2.5vw;
  }

  .card-item-git-link:hover .card-item-arrow-left {
    width: 3vw;
  }
}

@media screen and (max-width: 880px) {
  .card-item-text {
    font-size: 1rem;
  }
}
